.jumbotron {
  position: relative;
  overflow: hidden;
  z-index:-101;
  background-color:black;
  border-radius: 0;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:100%;
  height:100%;
  object-fit: cover;
  opacity:0.15;
  overflow: hidden;
}

.jumbotron.forest {
  background-image:url("static/images/forest_wide.gif");
  height:100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid #ff6a00


}

.jumbotron.AnalsisViz {
  background-image: url("static/imagesAnalysisViz/.gif");
  height:100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid #ff6a00
}

.jumbotron .container {
  position: absolute;;
  top:50px;
}


.jumbotron h1 {
  color: #FFF;
}

.jumbotron p {
  color: #FFF;
}

body {
  background-color: black;
  border-radius: 0;
}

.container {
  background-color: #FFF;
  opacity: 0.9;
}
.nav-link1{
  color:green;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  font-size: 30px;
  
}


p {
  text-indent: -2px;
  word-spacing: normal;
  letter-spacing:normal;
  padding-left:10px;
  padding-right:10px;
  font-size: 40px;
  text-align: start;
}

h1 {
  text-indent: 5px;
  word-spacing: 10px;
  letter-spacing:1px;
  padding-left:10px;
  padding-right:10px;
  font-size: 40px;
  text-align: center;
}

h2 {
  text-indent: 5px;
  word-spacing: 10px;
  letter-spacing:1px;
  padding-left:10px;
  padding-right:10px;
  font-size: 40px;
  text-align: center;
}

.column {
  float: left;
  width: 50.00%;
  padding: 5px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}